<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title><%= title%></title>
    <%- include('partials/styles') %>
  <link rel="stylesheet" href="css/gpa.css">
</head>
<body>
    <%- include('partials/header') %>
<div class="is-flex row">
  <%- include('partials/sidebar') %>
  <main role="main" class="has-aside-sibling m-6 mt-0">
    <section class="section has-background-white pt-0">'
       <h2 class="title title-line is-relative">
        <span>GRADE POINT AVERAGE (GPA) <span class="brown-txt">CALCULATOR</span></span>        </h2>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odit minima hic, sapiente deserunt repellat, facere dolorem voluptas omnis dicta molestiae. Voluptate sit praesentium veniam ab voluptates possimus vero odio!
        </p>
   </section>
   
         </main>
</div>
<%- include('partials/footer') %>
<%- include('partials/top') %>
<%- include('partials/scripts') %>
<script src="js/gpa.js"></script>
</body>
</html>